<!DOCTYPE html>
<html style="margin:0;padding:0;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Clarity Money</title>
  </head>
  <body style="margin:0;padding:0;font-family: sans-serif; font-size: 16px; text-shadow: rgba(0,0,0,.01) 0 0 1px; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; background: #f1f1f1; color: #717171; -webkit-text-size-adjust: none !important;">
    <div style="background: #f1f1f1; padding: 0;" width="100%">
      <table width="100%" style="max-width: 600px; margin: auto; background: #fafcff; padding: 0;" border="0" align="center" cellspacing="0" cellpadding="0"><tbody>
        <tr>
          <td align="center" style="padding: 25px 20px 9.9px;">
            <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="text-decoration: none;">
		      <img
              width="20px" height="22px" src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/logo_clarity.png"
              style="display: block; margin: 0 auto 10px; max-width: 225px;"
              alt="Clarity Money">			
            </a>
          </td>
        </tr>
        <tr>
          <td align="center">
            <h2 style="margin: 0; font-weight: normal;">
              <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #0064C9; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; font-size: 20px; line-height: 26px;">
                Hi Kaimin,<br />Here’s what you<br /> spent last week:
              </a>
            </h2>
			           <span style="font-size: 1.25em; padding: 0 0 10px 0;">
                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #00CFB0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; line-height: 26px;">
                    $2,500<!--{{event_properties.${total_spend}}} {% if {{event_properties.${refunds_returns}}} != null %} --><sup style="font-size:0.5em;margin-left:-10px;">*</sup> <!--{% endif %}-->
                  </a>
                </span>
          </td>
        </tr>
		  
        <tr>
          <td style="padding: 0 10px;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
              <td align="center" valign="top">	
				  <!--
                <h1 style="font-size: 1.25em; padding: 0 0 10px 0;">
                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #00CFB0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; line-height: 26px;">
                    $1,572<!--{{event_properties.${total_spend}}} {% if {{event_properties.${refunds_returns}}} != null %} --><sup style="font-size:0.5em;margin-left:-10px;">*</sup> <!--{% endif %}-->
                  <!-- </a>
                </h1>
				  -->
                <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="text-decoration: none; border:none;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/cash.png" style="width: 166px; display: block; margin: 10px auto 0; text-decoration: none; border:none;" width="100" alt="cash">
                </a>
                <br/><br/>
 
      				  <div style="margin: 0 auto 20px; line-height: 1.3em; color: #7AA3BD; font-family: CircularStd-Book, arial, sans-serif; font-size:12px; text-decoration: none;">
      					  Whether this is high, low or typical, take<br />a closer look. There might be savings<br />hiding in the details.
      				  </div>
				  
              </td>
            </tr>
            </tbody>
			     </table>
          </td>
        </tr>
		  
        <tr class="btn">
          <td align="center" valign="middle" colspan="3" style="padding: 5px 0 25px 0;">
            <table cellpadding="0" cellspacing="0"><tbody><tr>
              <td align="center" valign="middle" style="background: #2465B0; border-radius: 50px; height: 40px; width: 200px">
                <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="font-size: 0.75em; display: block; font-weight: regular; color: #fff; text-decoration: none; width: 100%; height: 100%;line-height: 50px;">
                  <span class="text" style="color: #ffffff; font-family: CircularStd-Book, arial, sans-serif; display:block;">
                    See Details
                  </span>
                </a>
              </td>
            </tr></tbody></table>
          </td>
        </tr>
		  
        <tr class="section-header" style="background-color: #f3f3f3">
          <td>
            <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="display:block;z-index:100;text-decoration: none;">

            <table cellspacing="0" cellpadding="0" align="left" style="width: 100%; padding: 40px 0 0 0;"><tbody><tr>
              <td align="center" valign="middle" style="color: #6D86A0; text-align: center;">
                <a clicktracking="off" href="https://clarity.test-app.link/category_spending" class="text"
                   style="color: #6D86A0; font-weight: regular; font-family: CircularStd-Book, arial, sans-serif; font-size: 12px; text-decoration: none;">
                    Top Categories
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </a>
      </td>
    </tr>		  
		  
        <tr class="section-categories" style="background-color: #f3f3f3">
          <td>
              <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="display:block;z-index:100;text-decoration: none;">

              <!--
            <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="display:block;z-index:100;text-decoration: none;">&nbsp;</a>
          -->

            <table style="max-width: 570px; padding:0 10px 20px;" width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td colspan="3" align="center" style="padding: 10px 0 5px;">
                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" class="text" style="color: #717171;font-family: arial, sans-serif;text-decoration: none;">
                  </a>
                </td>
              </tr>

              <tr>
                <td width="15%" align="right" class="icon">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
                <td width="70%" class="bar" align="center">
                  <div style="font-size: 0.75em; color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; text-align:left; white-space: nowrap; padding: 0 0 5px 10px;">
                  Travel
                  </div>
                </td>
                <td width="15%" align="left">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

              <tr>
                <td width="15%" align="right" class="icon" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>

                <td width="70%" class="bar" align="center" style="text-align:center; max-width: 399px;">
                  <div style ="background:#ECECEC; border-radius: 15px;">

                  <table width="100%" align="center" style="text-align:center; max-width: 399px;" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td>
                        <table width="55%" align="left" cellpadding="0" cellspacing="0">

                          <tbody>
                            <tr>
                              <td>
                                <div style="text-align:center; background: #17dbd2; border-radius: 15px; height:24px; padding: 5px 10px 0 10px;">
                                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="font-size: 0.75em; color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; white-space: nowrap;">$1,200</a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </td>
                <td width="15%" align="left" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

                <tr>
                  <td colspan="3" align="center" style="padding: 5px 0 5px;">
                    <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #717171; font-family: CircularStd-Book, arial, sans-serif;text-decoration: none;">
                    </a>
                  </td>
                </tr>

              <tr>
                <td width="15%" align="right" class="icon">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
                <td width="70%" class="bar" align="center">
                  <div style="font-size: 0.75em; color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; text-align:left; white-space: nowrap; padding: 0 0 5px 10px;">
                  Other &amp; ATM
                  </div>
                </td>
                <td width="15%" align="left">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

              <tr>
                <td width="15%" align="right" class="icon" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>

                <td width="70%" class="bar" align="center" style="text-align:center; max-width: 399px;">

                  <div style ="background:#ECECEC; border-radius: 15px;">

                  <table width="100%" align="center" style="text-align:center; max-width: 399px;" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td>
                        <table width="25%" align="left" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <div style="text-align:center; background: #17dbd2; border-radius: 15px; height:24px; padding: 5px 10px 0 10px;">
                                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="font-size: 0.75em; color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; white-space: nowrap;">$800</a>
                                </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </td>
                <td width="15%" align="left" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

                <tr>
                  <td colspan="3" align="center" style="padding: 5px 0 5px;">
                    <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #717171; font-family: CircularStd-Book,arial, sans-serif;text-decoration: none;">
                    </a>
                  </td>
                </tr>

              <tr>
                <td width="15%" align="right" class="icon">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
                <td width="70%" class="bar" align="center">
                  <div style="font-size: 0.75em; color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; text-align:left; white-space: nowrap; padding: 0 0 5px 10px;">
                  Shopping
                  </div>
                </td>
                <td width="15%" align="left">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

              <tr>
                <td width="15%" align="right" class="icon" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>

                <td width="70%" class="bar" align="center" style="text-align:center; max-width: 399px;">
                  <div style ="background:#ECECEC; border-radius: 15px;">

                  <table width="100%" align="center" style="text-align:center; max-width: 399px;" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td>
                        <table width="9%" align="left" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <div style="text-align:center; background: #17dbd2; border-radius: 15px; height:24px; padding: 5px 10px 0 10px;">
                                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="font-size: 0.75em; color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; white-space: nowrap;">$100</a>
                                </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </td>

                <td width="15%" align="left" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

                <tr>
                  <td colspan="3" align="center" style="padding: 5px 0 5px;">
                    <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="color: #717171; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none;">
                    </a>
                  </td>
                </tr>

              <tr>
                <td width="15%" align="right" class="icon">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
                <td width="70%" class="bar" align="center">
                  <div style="font-size: 0.75em; color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; text-align:left; white-space: nowrap; padding: 0 0 5px 10px;">
                  Everything Else
                  </div>
                </td>
                <td width="15%" align="left">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

              <tr>
                <td width="15%" align="right" class="icon" style="max-width: 85px;">
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>

                <td width="70%" class="bar" align="center" style="text-align: center; max-width: 399px;">
                  <div style ="background:#ECECEC; border-radius: 15px;">

                  <table width="100%" align="center" style="text-align:center; max-width: 399px;" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td>
                        <table width="11%" align="left" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <div style="text-align:center; background: #17dbd2; border-radius: 15px; height:24px; padding: 5px 10px 0 10px;">
                                  <a clicktracking="off" href="https://clarity.test-app.link/category_spending" style="font-size: 0.75em; color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none; white-space: nowrap;">$400</a>
                                </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </td>
                <td width="15%" align="left" style="max-width: 85px;">                  
                  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/spacer.png" height="1" style="width: 100%; display: block; margin: 10px auto 0; text-decoration: none; border:none;" alt="spacer">
                </td>
              </tr>

              <tr class="btn">
                <td align="center" valign="middle" colspan="3" style="padding: 40px 0 15px 0;">
                  <table><tbody>
                    <tr>
                      <td align="center" valign="middle" style="background: #ffffff; border-radius: 50px; height: 40px;width: 200px">
                        <a clicktracking="off"
                           href="https://clarity.test-app.link/category_spending"
                           style="font-family: CircularStd-Book, arial, sans-serif; display:block; font-size: 0.75em; font-weight: regular; color: #2465B0; text-decoration: none; width: 100%; height: 100%;line-height: 50px"
                           >See Details</a>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </table>
        </a>
      </td>
    </tr>
        <!-- BEGIN SAVINGS SECTION -->
		  
        <tr>
            <td style="text-align: center; padding-top: 45px;"><a clicktracking="off" href="https://clarity.test-app.link/savings_detail" style="color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; font-size: 20px; text-decoration: none;">You have saved</a><br />
              <a clicktracking="off" href="https://clarity.test-app.link/savings_detail" style="color: #00D3AF; font-family: CircularStd-Book, arial, sans-serif; font-size: 20px; text-decoration: none;">
                $166
				<!--
                  {{event_properties.${savings_amount}}}
-->
             </a>
				
              <a clicktracking="off" href="https://clarity.test-app.link/savings_detail" style="color: #002E7E; font-family: CircularStd-Book, arial, sans-serif; font-size: 20px; text-decoration: none">
                in your<br />Clarity Money Savings
              </a>
              <br/><br/>
              <div style="margin: 0 auto 20px; line-height: 1.3em;">
                <a clicktracking="off" href="https://clarity.test-app.link/savings_detail" style="color: #89A2B8; font-family: CircularStd-Book, arial, sans-serif; font-size:12px; text-decoration: none;">
					<!-- Last Week’s Contribution: $5 -->
					Last Week’s Contribution: <a clicktracking="off" href="https://clarity.test-app.link/savings_detail" style="font-size: 0.75em; color: #89A2B8; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none">
					$5
                </a>
                </a>
              </div>
            </td>
          </tr>
		 
		  <tr>
			<td align="center" valign="middle"  colspan="3" style="padding-top: 0px;">
			  <img src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/piggy_pink.png" style="width: 55px; display: block;" alt="piggy">
			</td>
		  </tr>
		  
          <tr class="btn">
            <td align="center" valign="middle" colspan="3" style="padding-top: 20px; padding-bottom: 30px;">
              <table>
                <tbody>
                <tr>
                  <td align="center" valign="middle" style="background: #003074; border-radius: 50px; height: 40px; width: 200px">
                    <a clicktracking="off"
                       href="https://clarity.test-app.link/savings_detail"
                      style="font-size: 0.75em; display: block; color: #fff; text-decoration: none; width: 100%; height: 100%;line-height: 50px">
                      <span class="text" style="color: #ffffff; font-family: CircularStd-Book, arial, sans-serif; display:block;">
                        See More
                      </span>
                    </a>
                  </td>
                </tr></tbody></table>
              </td>
            </tr>
		  
			<tr class="section-header" bgcolor="#ededed">
			  <td style="padding: 10px 10px 0;">
				<table cellspacing="0" cellpadding="0" align="left" style="width: 100%; padding:10px 0 0 0;"><tbody><tr>

				  <td align="center" valign="middle" style="padding-left: 5px; color: #6D86A0; text-align: center;">
					<a clicktracking="off" href="https://clarity.test-app.link/category_spending" class="text"
					   style="color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; font-size: 9px; text-decoration: none;">
						<p style="color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; font-size: 12px; text-decoration: none;">
						Questions? Please <a href="#" style="color: #00D3AF; font-family: CircularStd-Book, arial, sans-serif; font-size: 12px; text-decoration: none;">contact us</a> or visit our <a href="#" style="color: #00D3AF; font-family: CircularStd-Book, arial, sans-serif; font-size: 12px; text-decoration: none;">Help Center</a>
						</p>
						<p style="color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; font-size: 9px; text-decoration: none; line-height: 15px; opacity:0.5">
						Your privacy is important to us. View our <a href="#" style="color: #25DBAE; font-family: CircularStd-Book, arial, sans-serif; text-decoration: none;">Privacy Policy.</a><br />
						Clarity Money I 599 Broadway, 10th floor I New York, NY 10012<br />
						2018 Clarity Money, All rights reserved.<br />
						Please do no reply to this email. This message<br /> 
						is sent from an unmonitored inbox.<br />
						</p>
						<p>
						<a href="https://dev.claritymoney.com/email/preferences/#" style="color: #6D86A0; font-family: CircularStd-Book, arial, sans-serif; font-size: 9px; line-height: 15px;">Unsubscribe</a>
						</p>
					</a>
				  </td>
				</tr></tbody></table>
			  </td>
			</tr>			  
		  
			<tr>
				<td width="600px" bgcolor="#ededed">
				  <table width="110px" bgcolor="#ededed" style="max-width: 600px; margin: auto; padding: 20px 0 30px;" border="0" align="center" cellspacing="0" cellpadding="0"><tbody>
					<tr>
						<td align="center" bgcolor="#ededed" ></td>
						
						  <td align="right" valign="middle" width="45px" bgcolor="#ededed" >
							<a href="#" style="text-decoration: none;">
							  <img width="27px" height="27px" src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/fb.png" style="display: block; margin: 0 auto 10px; text-decoration: none; border:none;" alt="Facebook">
							</a>
						  </td>
						<td align="center" valign="middle" width="45px" bgcolor="#ededed" >
							<a href="#" style="text-decoration: none;">
							  <img width="27px" height="27px" src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/tw.png" style="display: block; margin: 0 auto 10px; text-decoration: none; border:none;" alt="Twitter">
							</a>
						  </td>
						<td align="left" valign="middle" width="45px" bgcolor="#ededed" >
							<a href="#" style="text-decoration: none;">
							  <img width="27px" height="27px" src="http://www.dwanger.com/es/ma/_new/emails/18-0107_email_clarityMoney/sn.png" style="display: block; margin: 0 auto 10px; text-decoration: none; border:none;" alt="Snapchat">
							</a>
						  </td>
						
						<td align="center" bgcolor="#ededed" ></td>
					</tr>
				  </table>
		  	</td>
		  </tr>
		  	  
            <!-- END SAVINGS SECTION -->

        </tbody>
        </table>
      </div>
    </body>
  </html>